# Setup in .env
LLM_MODEL=model_of_choice
LLM_API_KEY=api_key
LLM_BASE_URL=base_url
EMAIL_RECIPIENT=recipient.email@domain.example
EMAIL_SENDER=sender.gmail@domain.example
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=465
EMAIL_SENDER_APP_PASSWORD=email_sender_app_password
